name: Test Install SDKs (armv6)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test-armv6:
    strategy:
      fail-fast: false
      matrix:
        swift-version:
          - '6.0'
          - '6.0.1'
          - '6.0.2'
          - '6.0.3'
          - '6.1'
          - '6.1.1'
          - '6.1.2'
          - '6.1.3'
          - '6.2'
          - '6.2.1'
        distribution:
          - raspios-bullseye
          - raspios-bookworm
          - raspios-trixie
        use-container:
          - true
          - false
    name: ${{ matrix.use-container && 'Container' || 'Runner' }} (${{ matrix.swift-version }}, ${{ matrix.distribution }})
    runs-on: ubuntu-latest
    container: ${{ matrix.use-container && format('swift:{0}', matrix.swift-version) || '' }}
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/test-install-sdk
      with:
        swift-version: ${{ matrix.swift-version }}
        distribution: ${{ matrix.distribution }}
        arch: armv6
